* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px red solid;
}

body {
  background-image: url("landingbk.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  /* display: inline-block; */
}

header {
  /* margin: 50% auto; */

  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  color: whitesmoke;
}
